.card {
  max-width: 600px;
  margin: 30px auto;
}
.card-body {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.icon {
  width: 120px;
}
#city {
  margin-bottom: 0;
}
#today-temp {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  top: -34px;
}
#date {
  margin-bottom: 0;
}
.btn-group {
  margin: 10px;
}
#current-btn {
  margin-left: 10px;
}
.current-min {
  opacity: 0.5;
}
#high-low {
  margin-top: 10px;
  margin-bottom: 0;
}
#description {
  opacity: 0.5;
}
.wind {
  list-style: none;
  margin-bottom: 0;
}
.forcast-min {
  opacity: 0.5;
}
.github {
  text-align: center;
}
